# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin

# Temporary files
.tmp.html

# Vim files
*.taghl
.ycm_extra_conf.pyc

# Reference files
reference

# Build files
Makefile.tmp*
Makefile
